@import './styleGuide.scss';
.main-header{
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto 0 auto;
  .active{
    color: $yellow;
  }
  .own-container{ 
    padding: .5rem 3rem;
    display: flex; 
    justify-content: space-between;
    &.sup-banner{
      background-color: $purple-1;
      color: $white;
      .breadcrumb .breadcrumb-item{
        color: $white;
        &::before{
          color: $white;
        }
        &.active{
          color: $yellow;
          &::before{
            color: $yellow;
          }
        }
      }
      .action img{
        margin-top: -1px;
        margin-left: 2px;
      }
    }
    &.brand-h{
      max-height: 80px;
      min-height: 80px;
      padding: 0 24px;
      .brand{
        picture{
          margin-right: 40px;
          @media (max-width: 375px) {
            margin-right: 14px;
          }
        }
      }
      .user-actions{
        width: 345px;
        @media (max-width: 767px){
          width: 40px;
        }
        button{
          width: 254px;
        }
        .user-actions-header{
          list-style: none;
          width: 88px;
          margin-left: 5px;
          position: relative;
          a>.u-action{
            position: relative;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            background-color: $black-7;
            border-radius: 50%;
            &:hover{
              background-color: $purple-2;
              color: $white;
            }
            &.active::after{
                content: '';
                position: absolute;
                border: 1px solid $black-7;
                border-radius: 50%;
                width: 6px;
                height: 6px;
                background-color: $error;
                top: 8px;
                right: 9px;
                visibility: visible;
                display: block;
            }
          }
        }
      }
    }
    &.sub-banner{
      color: $white ;
      background-color: $blue-celeste-1;
      padding: 12px 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1083px){
      flex-direction: column;
      }
      p{
        .btn-show-contact{
          display: none;
          transition: all;
          @media (max-width:909px) {
            display: inline-block;
            margin-left: 5px;
          }
          .active{
            transform: rotate(180deg);
          }
        }
      }
      .directory{
        display: flex;
        justify-content: space-between;
        width: 45%;
        span{
          display: block;
          img{
            margin-right: 5px;
          }
        }
        @media (max-width: 1083px) {
          margin-top: 10px;
          width: 50%;
        }
        @media (max-width: 909px) {
          display: none;
          flex-direction: column;
        }
      }
    }
  }
}
.container-main{
  display: flex;
  flex-direction: column;
  background-color: $white;
  .own-container{
    .banner{
      color: $white;
      .own-container{
        background-color: $purple-1;
        min-width: 343px;
        max-width: 77.5%;
        nav{
          max-width: 708px;
          span{
            font-weight: 700;
          }
          .banner-detail{
            li{
              position: relative;
              padding-left: 10px;
              &::before{
                content: ' ';
                border-radius: 50%;
                background-color: $yellow;
                position: absolute;
                top: 11px;
                left: -3px;
                width: 8px;
                height: 8px;
              }
            }
          }
        }
      }
    }
  }
}
