@charset "UTF-8";
/* COLORS */
/*        */
/* FONTS */
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf"), url("../fonts/Gilroy/Gilroy-Light.otf");
  font-weight: 800;
}
@font-face {
  font-family: Mulish;
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf");
  font-weight: 300;
}
:root {
  font-family: Mulish;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
}

body {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
}
body a {
  color: inherit;
  text-decoration: none;
}
body a :active {
  color: inherit;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4, button, .btn {
  font-family: Gilroy;
}

body, .subtitle-1, .subtitle-2, .subtitle-3 {
  font-family: Mulish;
}

.h1, h1 {
  font-size: 3.5rem;
}

.h2, h2 {
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 2rem;
}

.h4, h4 {
  font-size: 1.5rem;
}

.subtitle-1,
.subtitle-2,
.subtitle-3 {
  font-weight: 700 !important;
}

.subtitle-1 {
  font-size: 1.25rem;
}

.subtitle-2 {
  font-size: 1rem;
}

.subtitle-3 {
  font-size: 0.875rem;
}

.body-1 {
  font-size: 1.25rem;
}

.body-2 {
  font-size: 1rem;
}

.body-3 {
  font-size: 0.875rem;
}

.caption {
  font-weight: 400;
  font-size: 0.75rem;
}

button, .btn, .f-btn {
  font-weight: 700;
  font-size: 0.875rem;
}

/* BOTTONS */
/* PRIMARY */
button, .btn {
  color: #652480;
  background-color: #FFF;
  border: solid #652480 1px;
  border-radius: 8px;
  padding: 12px 7px;
  font-weight: 700;
}
button:hover, .btn:hover {
  background-color: #F8F6FB;
}
button.small, .btn.small {
  padding: 7px 7px;
}
button.primary, .btn.primary {
  color: #652480;
  background-color: #FFEC00;
  border: none;
  padding: 12px 7px;
  font-weight: 700;
}
button.primary:hover, .btn.primary:hover {
  background-color: #FFFF1E;
}
button.terciary, .btn.terciary {
  background-color: #652480;
  color: #FFF;
  border-color: #652480;
}
button.terciary:hover, .btn.terciary:hover {
  background-color: #9756B2;
}
button.desactivated, button[disabled], button:disabled, .btn.desactivated, .btn[disabled], .btn:disabled {
  background-color: #D4D4D4;
  color: #343434;
}

.dark {
  background-color: #343434;
}
.dark button, .dark .btn {
  color: #FFF;
  border-color: #FFF;
  background-color: #343434;
}

.float-btn {
  z-index: 100;
  display: flex;
  width: 57px;
  height: 56px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 55px;
  right: 15px;
  background-color: #652480;
}
.float-btn .img {
  width: 22px;
  height: 22px;
}

/* BOTTONS */
/* RADIUS */
.radius-6 {
  border-radius: 6px !important;
}

.radius-8 {
  border-radius: 8px !important;
}

.radius-24 {
  border-radius: 24px !important;
}

/* RADIUS */
/* utils */
.emphasis {
  color: #490C63;
}

.emphasis-bg {
  color: #FFF;
  background-color: #490C63;
}

/* utils */
.main-header {
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto 0 auto;
}
.main-header .active {
  color: #FFEC00;
}
.main-header .own-container {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
}
.main-header .own-container.sup-banner {
  background-color: #490C63;
  color: #FFF;
}
.main-header .own-container.sup-banner .breadcrumb .breadcrumb-item {
  color: #FFF;
}
.main-header .own-container.sup-banner .breadcrumb .breadcrumb-item::before {
  color: #FFF;
}
.main-header .own-container.sup-banner .breadcrumb .breadcrumb-item.active {
  color: #FFEC00;
}
.main-header .own-container.sup-banner .breadcrumb .breadcrumb-item.active::before {
  color: #FFEC00;
}
.main-header .own-container.sup-banner .action img {
  margin-top: -1px;
  margin-left: 2px;
}
.main-header .own-container.brand-h {
  max-height: 80px;
  min-height: 80px;
  padding: 0 24px;
}
.main-header .own-container.brand-h .brand picture {
  margin-right: 40px;
}
@media (max-width: 375px) {
  .main-header .own-container.brand-h .brand picture {
    margin-right: 14px;
  }
}
.main-header .own-container.brand-h .user-actions {
  width: 345px;
}
@media (max-width: 767px) {
  .main-header .own-container.brand-h .user-actions {
    width: 40px;
  }
}
.main-header .own-container.brand-h .user-actions button {
  width: 254px;
}
.main-header .own-container.brand-h .user-actions .user-actions-header {
  list-style: none;
  width: 88px;
  margin-left: 5px;
  position: relative;
}
.main-header .own-container.brand-h .user-actions .user-actions-header a > .u-action {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #F6F6F6;
  border-radius: 50%;
}
.main-header .own-container.brand-h .user-actions .user-actions-header a > .u-action:hover {
  background-color: #652480;
  color: #FFF;
}
.main-header .own-container.brand-h .user-actions .user-actions-header a > .u-action.active::after {
  content: "";
  position: absolute;
  border: 1px solid #F6F6F6;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #CC3637;
  top: 8px;
  right: 9px;
  visibility: visible;
  display: block;
}
.main-header .own-container.sub-banner {
  color: #FFF;
  background-color: #5D9795;
  padding: 12px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1083px) {
  .main-header .own-container.sub-banner {
    flex-direction: column;
  }
}
.main-header .own-container.sub-banner p .btn-show-contact {
  display: none;
  transition: all;
}
@media (max-width: 909px) {
  .main-header .own-container.sub-banner p .btn-show-contact {
    display: inline-block;
    margin-left: 5px;
  }
}
.main-header .own-container.sub-banner p .btn-show-contact .active {
  transform: rotate(180deg);
}
.main-header .own-container.sub-banner .directory {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.main-header .own-container.sub-banner .directory span {
  display: block;
}
.main-header .own-container.sub-banner .directory span img {
  margin-right: 5px;
}
@media (max-width: 1083px) {
  .main-header .own-container.sub-banner .directory {
    margin-top: 10px;
    width: 50%;
  }
}
@media (max-width: 909px) {
  .main-header .own-container.sub-banner .directory {
    display: none;
    flex-direction: column;
  }
}

.container-main {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}
.container-main .own-container .own-container {
  min-width: 343px;
  max-width: 1116px;
}
.container-main .own-container .banner {
  color: #FFF;
}
.container-main .own-container .banner .own-container {
  background-color: #490C63;
  min-width: 343px;
}
.container-main .own-container .banner .own-container nav {
  max-width: 708px;
}
.container-main .own-container .banner .own-container nav span {
  font-weight: 700;
}
.container-main .own-container .banner .own-container nav .banner-detail li {
  position: relative;
  padding-left: 10px;
}
.container-main .own-container .banner .own-container nav .banner-detail li::before {
  content: " ";
  border-radius: 50%;
  background-color: #FFEC00;
  position: absolute;
  top: 11px;
  left: -3px;
  width: 8px;
  height: 8px;
}
.container-main .own-container .start-wellcome .own-container nav header h3 {
  color: #490C63;
}
.container-main .own-container .start-wellcome .own-container nav .service-detail {
  list-style: none;
}
.container-main .own-container .start-wellcome .own-container nav .service-detail li {
  padding: 8px 0;
  padding-left: 8px;
}
.container-main .own-container .start-wellcome .own-container nav .service-detail li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../svg/checklist.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  left: -8px;
}
.container-main .own-container .start-wellcome .own-container nav button {
  max-width: 276px;
}
@media (max-width: 475px) {
  .container-main .own-container .start-wellcome .own-container nav button {
    max-width: none;
    width: 100%;
  }
}
.container-main .own-container .start-wellcome .contact .own-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
  grid-gap: 32px;
  grid-auto-rows: minmax(38px, auto);
}
.container-main .own-container .start-wellcome .contact .own-container ul li {
  display: flex;
  color: #2C6A69;
  max-height: 48px;
  background-color: #D5FBFA;
  padding: 14px 10px;
}
.container-main .own-container .start-wellcome .contact .own-container ul li svg {
  display: inline-block;
  height: 21px;
  width: 21px;
  margin-left: auto;
  fill: #2C6A69;
}
.container-main .own-container .start-wellcome .contact .own-container ul li svg.ws {
  margin-top: -2px;
}
.container-main .own-container .testimonials .own-container {
  position: relative;
}
.container-main .own-container .testimonials .own-container nav header h3 {
  color: #490C63;
  text-align: center;
}
.container-main .own-container .testimonials .own-container nav button.carousel-control-prev,
.container-main .own-container .testimonials .own-container nav button.carousel-control-next {
  background-color: #490C63;
  opacity: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: calc(50% - 40px);
}
.container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] {
  width: 100%;
  max-width: 328px;
  background-color: #F8F6FB;
  border: none;
}
@media (min-width: 600px) {
  .container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] {
    max-width: 584px;
  }
}
@media (min-width: 1200px) {
  .container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] {
    max-width: 888px;
  }
}
.container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] .card-content {
  display: flex;
  flex-wrap: wrap;
}
.container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] .card-content .head {
  min-width: 63%;
}
.container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] img {
  width: 64px;
}
@media (min-width: 425px) {
  .container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] img {
    width: 128px;
  }
}
@media (min-width: 1024px) {
  .container-main .own-container .testimonials .own-container nav .carousel .carousel-inner .carousel-item .card[card] img {
    width: 198px;
  }
}
.container-main .score {
  position: relative;
}
.container-main .score .card-score {
  color: #490C63;
  margin: 0 auto;
  background-color: #FFF;
  z-index: 2;
  flex-wrap: nowrap;
}
.container-main .score .score-d-bar {
  min-width: 100%;
  min-height: 3px;
  max-height: 3px;
  width: 50px;
  background-color: #F8F6FB;
  z-index: 0;
  position: absolute;
}
.container-main .CTA-test {
  position: relative;
  background-color: #F6F6F6;
}
.container-main .CTA-test .CTA {
  max-width: 1116px;
  margin: 0 auto;
  z-index: 2;
  flex-wrap: nowrap;
}
.container-main .CTA-test .btn {
  width: auto;
}
@media (max-width: 767px) {
  .container-main .CTA-test .btn {
    width: 100%;
  }
}
.container-main > main {
  position: relative;
  width: 100%;
  max-width: 1116px;
}
.container-main > main figure {
  z-index: 1;
  margin-top: 15%;
}
.container-main > main figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 576px) {
  .container-main > main figure img {
    width: 524px;
    height: 432px;
  }
}
@media (min-width: 768px) {
  .container-main > main figure img {
    width: 768px;
    height: 432px;
  }
}
.container-main > main > main {
  z-index: 2;
  max-width: 100%;
  margin-top: -30px;
  /*BLUR*/
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 40px;
}
@media (min-width: 575px) {
  .container-main > main > main {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    height: 368px;
    width: auto;
    max-width: 80%;
    position: absolute;
    top: calc(90% - 368px);
  }
}
@media (min-width: 768px) {
  .container-main > main > main {
    min-width: 584px;
  }
}
@media (min-width: 800px) {
  .container-main > main > main {
    height: 352px;
    top: calc(90% - 352px);
    width: 774px;
  }
}
.container-main > main > main .badges-list ul {
  list-style: none;
}
.container-main > main > main .badges-list ul .badges {
  color: #FFF;
  background-color: #490C63;
  border-radius: 24px;
  padding: 8px 16px;
  margin-right: 16px;
  margin-bottom: 15px;
}
@media (max-width: 440px) {
  .container-main > main > main .badges-list ul .badges {
    font-weight: 800;
  }
}
.container-main > main > main .badges-list ul .badges::before {
  content: "⬤";
  font-size: 0.65em;
  position: relative;
  top: -2px;
}
.container-main > main > main .badges-list ul .badges:hover {
  color: #FFEC00;
}
@media (min-width: 575px) {
  .container-main > main > main .actions {
    max-width: 60%;
  }
}

/*# sourceMappingURL=layout.css.map */
